/* BookCard.css */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.book-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 100%;
}

/* .book-card:hover {
    transform: scale(1.05);
  } */

.book-image {
  max-width: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.book-details {
  margin-top: 20px;
  padding: 16px;
  /* width: 50%;

    @media screen and (max-width: 991px) {
        width: 100%;
    } */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.book-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.book-description {
  /* font-size: 0.9rem; */
  margin-bottom: 12px;
  white-space: pre-line;
  font-family: Book Antiqua;
}

.description-links-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.book-description ul {
  list-style: disc; /* or your desired list style */
}

.book-links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #8cb2d8;
  padding: 20px;
  border-radius: 5px;
}

.book-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.book-links li {
  margin-bottom: 0;
}

.book-links p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.book-links button{
  background-color: #002a55;
  border-radius: 5px;
  padding: 5px 20px;
  color: #ddd;
  font-weight: bold;
}

/* .book-links a {
  text-decoration: none;
  color: #007bff;
}

.book-links a:hover {
  text-decoration: underline;
  color: #0056b3;
} */

.quote {
  color: orange;
  font-size: large;
}

.bracket {
  color: red;
}

.purpose-header {
  margin-bottom: 0px;
}

@media (max-width: 768px) {

  .book-card {
    flex-direction: column;
  }
}

.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2rem;
}