/* Default styles for larger screens */
.hero-section {
    background-color: dodgerblue;
    background-image: linear-gradient(dodgerblue, white);
    background-size: cover;
    height: 80vh;
    color: black;
    text-align: left;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    max-width: calc(100% - 320px);
}

.button-content {
    margin-left: 20px;
}

.image-content img {
    max-width: 500px;
    height: auto;
    /* transform: rotate(5deg); */
}

/* Media query for smaller screens (adjust the max-width as needed) */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        max-width: 100%;
    }

    .image-content {
        display: none;
    }

    .button-content {
        margin-left: 0;
        margin-top: 10px;
    }
}