.navbar-center {
    display: flex;
    justify-content: center;
}

.navbar-pretty {
    height: 100px;
    width: 100%;
    background-color: rgb(0, 42, 85);
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
    /* position: sticky; */
    z-index: 1000;
}

.nav-text {
    margin: 0 30px;
    letter-spacing: 1px;
    text-align: center;
}

/* Media query for smaller screens (adjust the max-width as needed) */
@media (max-width: 768px) {
    .nav-links {
        margin: 0 5px;
    }
}